In [5]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel(r'D:\Personal\New folder\New folder\file2.xlsx')

In [16]:
df.from_val=df.from_val.astype('str')

In [24]:
df.head()

   office_id  staff_id series from_val  to_val   current
0       76.0    1742.0   BRTP        1     100  In_Stock
1        0.0       0.0      0     1101    1200  In_Stock
2        0.0       0.0      0     1301    1400  In_Stock
3        0.0       0.0      0     2301    2400  In_Stock
4        0.0       0.0      0     3901    4000  In_Stock

In [26]:
pd.pivot_table(df,index=['series'],columns=['current'],values=['from_val'],aggfunc={'from_val':lambda x:",".join(x.fillna(0))})

        from_val
current  Current                                           In_Stock
series
0           8401  1101,1301,2301,3901,4001,4101,4201,5101,5301,5...
BRTP         NaN                                                  1